<!DOCTYPE html>
<html>
    <head>
        <title>India's Heritage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/heritage-places-indian-cities-2/100/victoria-memorial-kolkata-heritage-architecture-structure-building-india-3c7fc4967dc879f4-512.png" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main_animation.css">

    </head>
    <body>
    <nav class="navbar fixed-top navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span style="color:white;" class="sr-only">Toggle navigation</span>
                <span style="color:white;" class="icon-bar"></span>
                <span style="color:white;" class="icon-bar"></span>
                <span style="color:white;" class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a style="color:white; padding-top: 18px; font-size: 25px; font-weight: 400;" class="navbar-brand" href="/"><b><i class="fas fa-home"></i> Home</b></a>
            </div>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li class="nav-menu-item"><a style="color:white; padding-top: 25px;" href="/login"> Login   <i class="fas fa-user"></i></a></li>
                        <li class="nav-menu-item"><a style="color:white; padding-top: 25px;" href="/register"> Sign Up  <i class="fas fa-user-plus"></i></a></li>
                    <% } else { %>
                        <li class="header-element-spacing"><a style="color:white; padding-top: 25px;" href="#"><i class="fas fa-user-circle"></i>  <%= currentUser.username %></a></li>
                        <li class="header-element-spacing"><a style="color:white; padding-top: 25px;" href="/logout">Logout <i class="fas fa-user-minus"></i></a></li>
                    <% } %>
                </ul>
            </div><!-- /.navbar-collapse -->
    </nav>
              <!-- navigation bar building end here -->

    
    <div class="container">
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length>0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    